*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

main{
    height: 100vh;
    background-color: rgba(29, 28, 28, 0.911);
    padding-top: 3rem;
    
}
.title{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-top: 1rem;
}
.display{
    text-align: center;
    color: white;
    font-size: 1.7em;
    margin: 2rem 0;
}
.hide{
    display: none;
}
    

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 300px;
}
.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
#reset{
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgb(61, 5, 61);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1.2rem;
}

.X{
    color: rgb(113, 179, 15);
}
.O{
    color: rgb(241, 241, 47);
}